In [110]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [111]:
df=['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed','y']

In [112]:
bank=pd.read_csv("C:/Users/karthika/Desktop/bank.csv",sep=';',names=df,header=0)

In [113]:
bank.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.conf.idx,euribor3m,nr.employed,y
56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [114]:
bank.tail()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.conf.idx,euribor3m,nr.employed,y
73,retired,married,professional.course,no,yes,no,cellular,nov,fri,334,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,383,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
56,retired,married,university.degree,no,yes,no,cellular,nov,fri,189,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
44,technician,married,professional.course,no,no,no,cellular,nov,fri,442,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
74,retired,married,professional.course,no,yes,no,cellular,nov,fri,239,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [115]:
bank.shape

(41188, 20)

In [116]:
bank.describe()

,day_of_week,duration,campaign,pdays,poutcome,emp.var.rate,cons.conf.idx,euribor3m,nr.employed
count,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [117]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41188 entries, 56 to 74
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            41188 non-null  object
 1   job            41188 non-null  object
 2   marital        41188 non-null  object
 3   education      41188 non-null  object
 4   default        41188 non-null  object
 5   housing        41188 non-null  object
 6   loan           41188 non-null  object
 7   contact        41188 non-null  object
 8   month          41188 non-null  object
 9   day_of_week    41188 non-null  int64
 10  duration       41188 non-null  int64
 11  campaign       41188 non-null  int64
 12  pdays          41188 non-null  int64
 13  previous       41188 non-null  object
 14  poutcome       41188 non-null  float64
 15  emp.var.rate   41188 non-null  float64
 16  cons.conf.idx  41188 non-null  float64
 17  euribor3m      41188 non-null  float64
 18  nr.employed    41188 non-null  float64
 19  y              41188 non-null  object
dtypes: float64(5), int64(4), object(11)
memory usage: 6.6+ MB

<b>Missing Value Analysis</b>

In [118]:
bank.isnull().sum()

age              0
job              0
marital          0
education        0
default          0
housing          0
loan             0
contact          0
month            0
day_of_week      0
duration         0
campaign         0
pdays            0
previous         0
poutcome         0
emp.var.rate     0
cons.conf.idx    0
euribor3m        0
nr.employed      0
y                0
dtype: int64

<b>Label Encoding></b>

In [119]:
from sklearn import preprocessing

In [120]:
le=preprocessing.LabelEncoder()

In [121]:
le.fit(['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed','y'])

LabelEncoder()

In [122]:
le.classes_

array(['age', 'campaign', 'cons.conf.idx', 'contact', 'day_of_week',
       'default', 'duration', 'education', 'emp.var.rate', 'euribor3m',
       'housing', 'job', 'loan', 'marital', 'month', 'nr.employed',
       'pdays', 'poutcome', 'previous', 'y'], dtype='<U13')

In [123]:
le.transform(['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed','y'])

array([ 0, 11, 13,  7,  5, 10, 12,  3, 14,  4,  6,  1, 16, 18, 17,  8,  2,
        9, 15, 19])

<b>Random Forest</b>

In [124]:
y=bank.y
x=bank[['age','job','marital','education','default','housing','loan','contact','month','day_of_week','duration','campaign','pdays','previous','poutcome','emp.var.rate','cons.conf.idx','euribor3m','nr.employed']]

In [125]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression as LR
from sklearn.tree import DecisionTreeClassifier 
from sklearn.linear_model import LinearRegression as LS

In [126]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [127]:
dummy_var=pd.get_dummies(bank)

In [128]:
dummy_var.columns

Index(['day_of_week', 'duration', 'campaign', 'pdays', 'poutcome',
       'emp.var.rate', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'age_admin.', 'age_blue-collar', 'age_entrepreneur', 'age_housemaid',
       'age_management', 'age_retired', 'age_self-employed', 'age_services',
       'age_student', 'age_technician', 'age_unemployed', 'age_unknown',
       'job_divorced', 'job_married', 'job_single', 'job_unknown',
       'marital_basic.4y', 'marital_basic.6y', 'marital_basic.9y',
       'marital_high.school', 'marital_illiterate',
       'marital_professional.course', 'marital_university.degree',
       'marital_unknown', 'education_no', 'education_unknown', 'education_yes',
       'default_no', 'default_unknown', 'default_yes', 'housing_no',
       'housing_unknown', 'housing_yes', 'loan_cellular', 'loan_telephone',
       'contact_apr', 'contact_aug', 'contact_dec', 'contact_jul',
       'contact_jun', 'contact_mar', 'contact_may', 'contact_nov',
       'contact_oct', 'contact_sep', 'month_fri', 'month_mon', 'month_thu',
       'month_tue', 'month_wed', 'previous_failure', 'previous_nonexistent',
       'previous_success', 'y_no', 'y_yes'],
      dtype='object')

In [129]:
scaler_data=scaler.fit(dummy_var)
scaler_data=scaler.transform(dummy_var)

In [130]:
x.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.conf.idx,euribor3m,nr.employed
56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,261,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
57,services,married,high.school,unknown,no,no,telephone,may,mon,149,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
37,services,married,high.school,no,yes,no,telephone,may,mon,226,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
40,admin.,married,basic.6y,no,no,no,telephone,may,mon,151,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
56,services,married,high.school,no,no,yes,telephone,may,mon,307,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [131]:
y.head()

56    no
57    no
37    no
40    no
56    no
Name: y, dtype: object

In [132]:
from sklearn.feature_selection import SelectFromModel

In [133]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2,random_state=100)

In [134]:
from sklearn.linear_model import LogisticRegression

In [135]:
from sklearn.linear_model import LogisticRegression as LR
model=LR(random_state=0).fit(train_x,train_y)
print("Train Score =",model.score(train_x,train_y))
print("Test Score =",model.score(test_x,test_y))
predicted_y=model.predict(test_x)

ValueError: could not convert string to float: 'admin.'

In [136]:
from sklearn.ensemble import AdaBoostRegressor
reg=AdaBoostRegressor(n_estimators=100,random_state=0)
reg.fit(train_x,train_y)

ValueError: could not convert string to float: 'yes'